<configuration>
    
    <!-- ******************************************************************************
    	 Comments to be captured in the output log file that describe the test case
    	 ******************************************************************************
    -->
    <Comments> 
    	This is a test run to capture the range of 8.5 GHz to 13.5 GHz, expected alpha is 32.
        Performing manual calibration
    </Comments>
    
    <!-- ******************************************************************************  
    	 Analysis Settings          
	     ****************************************************************************** 
	-->
    <Analysis_Settings>
        <NumberOfRCMRealizations> 50000 </NumberOfRCMRealizations>
        <NumberOfBinsForHistograms> 100 </NumberOfBinsForHistograms>
    </Analysis_Settings>
    
    <!-- ******************************************************************************  
    	 PNA Settings      
    	 ******************************************************************************     
    -->
    <PNA_Settings>
        <NumberOfPoints> 32001 </NumberOfPoints>
        <FrequencySweepStart> 8.5E9 </FrequencySweepStart>
        <FrequencySweepStop> 13.5E9 </FrequencySweepStop>
        <!-- 
             transform times are requested and need to be within the range
             +/- (NumberOfPoints - 1)/(FrequencySweepStop - FrequencySweepStart)
             if the requested times exceed this range, they be will clipped to the
             maximum and minimum values
          -->
        <TimeTransformStartTime> -0.5E-6 </TimeTransformStartTime>
        <TimeTransformStopTime> 10E-6 </TimeTransformStopTime>
        <!--
        	The "UseElectronicCalibrationKit" flag indicates whether or not to 
        	automatically calibrate the PNA using the electronic calibration kit
        -->
        <UseElectronicCalibrationKit> Yes </UseElectronicCalibrationKit>
    </PNA_Settings>
    
    <!-- ******************************************************************************
         Stepper Motor Settings    
         ******************************************************************************       
    -->
    <StepperMotor_Settings>
            <COMport> COM5 </COMport>
            <!-- 
                 aerotech SM50 motor with Haydon PCM 4826 drive
                 200 full steps at 1.8 degrees per step
                 drive can handle 1/64 steps
                 12800 steps per revolution    
            -->
            <NStepsPerRevolution> 12800 </NStepsPerRevolution>
            <!-- Direction is +1 for forward, -1 for backward -->
            <Direction> 1 </Direction>
    </StepperMotor_Settings>
    
    <!-- ******************************************************************************   
    	 Experiment Settings     
    	 ******************************************************************************           
    -->
    <Experiment_Settings>
        <NumberOfRealizations> 50 </NumberOfRealizations>
        <CavityVolume> 1.92 </CavityVolume>
        <AntennaElectrialLength> 0.5 </AntennaElectrialLength>
        <FileNamePrefix> TestCase_8.5_to_13.5 </FileNamePrefix>
        <TimeDateStamp> Yes </TimeDateStamp>
    </Experiment_Settings>
    
</configuration> 