<configuration>
    <NumberOfPoints> 32001 </NumberOfPoints>
    <COMport> COM5 </COMport>
	<NumberOfRealizations> 50 </NumberOfRealizations>
	<ElectronicCalibration> No </ElectronicCalibration>
	<CavityVolume> 1.92 </CavityVolume>
	<AntennaElectrialLength> 0.5 </AntennaElectrialLength>
    <FileNamePrefix> TestRun </FileNamePrefix>
    <TimeDateStamp> Yes </TimeDateStamp>
	<NumberOfRCMRealizations> 10000 </NumberOfRCMRealizations>
	<FrequencySweepStart> 8E9 </FrequencySweepStart>
	<FrequencySweepStop> 12E9 </FrequencySweepStop>
	<TimeTransformStartTime> -0.5E6 </TimeTransformStartTime>
	<TimeTransformStopTime> 10E6 </TimeTransformStopTime>
	<Comments> This is a test run </Comments>
</configuration>  