<configuration>
    
    <!-- ******************************************************************************
    	 Comments to be captured in the output log file that describe the test case
    	 ******************************************************************************
    -->
    <Comments>Dual Port Config A, 8 to 12 GHz </Comments>
    
    <!-- ******************************************************************************  
    	 PNA Settings      
    	 ******************************************************************************     
    -->
    <PNA_Settings>
        <NumberOfPoints> 32001 </NumberOfPoints>
        <FrequencySweepStart> 8E9 </FrequencySweepStart>
        <FrequencySweepStop> 12E9 </FrequencySweepStop>
        <IP_Address>169.254.13.58</IP_Address>
        <TransformStartTime> -1.0e-6</TransformStartTime>
        <TransformStopime> 5e-6</TransformStopTime>
        <GatingStartTime> -5e-9</GatingStartTime>
        <GatingStopTime> 5e-9</GatingStopTime>
        <TakeGatedMeasurement> Yes </TakeGatedMeasurement>
    </PNA_Settings>
    
    <!-- ******************************************************************************
         Stepper Motor Settings    
         ******************************************************************************       
    -->
    <StepperMotor_Settings>
            <COMport>/dev/tty.usbserial-A600eOXn</COMport>
            <!-- 
                 aerotech SM50 motor with Haydon PCM 4826 drive
                 200 full steps at 1.8 degrees per step
                 drive can handle 1/64 steps
                 12800 steps per revolution    
            -->
            <NStepsPerRevolution> 12800 </NStepsPerRevolution>
            <!-- Direction is +1 for forward, -1 for backward -->
            <Direction> 1 </Direction>
            <!-- Settling time in seconds after moving the stepper motor before taking a 
            measurement-->
            <Settling_Time>5 </Settling_Time>
             <!-- Movement time in seconds to determine how far to move the stepper motor
             for a new realization-->
            <Movement_Time>10 </Movement_Time>
    </StepperMotor_Settings>
    
    <!-- ******************************************************************************   
    	 Experiment Settings     
    	 ******************************************************************************           
    -->
    <Experiment_Settings>
        <NumberOfRealizations> 50 </NumberOfRealizations>
        <CavityVolume> 1.92 </CavityVolume>
        <FileNamePrefix>Config_A_XBand_8to12GHz</FileNamePrefix>
        <TimeDateStamp> Yes </TimeDateStamp>
    </Experiment_Settings>
    
</configuration> 